<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="/javascripts/jquery-1.7.1.min.js"></script>
<script src="/socket.io/lib/socket.io.js"></script>
<script src="/javascripts/index.js"></script>
</head>
<body>

<canvas id="field" width="300" height="300">
	何故かエラー
</canvas>

	
</body>
</html>